html, body {
  height: 100%;
  width: 100%;
}

button {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #000;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  transition:  background-color 0.4s, transform 0.4s, box-shadow 0.4s, color 0.4s;
}

button:hover {
  transform: translateY(-5px);
  background-color: #121212;
  box-shadow:  0px 0px 15px grey;
  color: #ada9a9;
}